<h1>My Favorite Places in Vienna</h1>
<p>
    This demo page shows how to use <a
        href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_layers"
        rel="noopener noreferrer"
    >cascade layers</a> in Angular.
    It also includes an interactive map with buttons to move the map around, thereby conforming
    to the WCAG criteria <a
        href="https://www.w3.org/WAI/WCAG22/Understanding/dragging-movements.html"
        rel="noopener noreferrer"
    >2.5.7 Dragging Movements</a>.
</p>
<h2>Favorite places (list)</h2>
<ol>
    <li>Neue Donau (New Danube)</li>
    <li>Summer Station (Danube Island)</li>
    <li>Kahlenberg (Hiking and Wine)</li>
    <li>Ottakringer Brewery</li>
    <li>Yppenplatz (Ottakring)</li>
</ol>
<h2>Favorite places (map)</h2>
<app-map></app-map>
